
.KelangPage{
    background-attachment: fixed;
    background-position: center;
    width: 99.4vw;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
    display: grid;
    gap: 10rem;
}

.projectDesignSection{
    height: auto;
    width: 70%;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #9DC5C0;
    border-radius: 10px;
}

.projectDesignFrame{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectDesignFrame .projectDesignImages{
    height: 400px;
    width: 40%;
    display: flex;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    border: 4px solid white;
}

.projectDesignFrame .projectDesignParagraph{
    height: 400px;
    width: 40%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
