.endangeredSpecies{
    background-color: none;
    margin: auto;
    margin-top: 0px;
    padding-top: 4rem;
}
.projectImage{
    height: 40rem;
    width: 60rem;
    margin: auto;
    display: flex;
    border: 0px solid rosybrown;
    box-shadow: 0px 4px 8px rgb(22, 22, 22);
    border-radius: 20px;
    background-position: -7rem;
    background-size: cover;
}

.skillsFrame{
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 4rem;
}

.skillsFrame .projectLinks {
    height: auto;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid rosybrown; */
    margin-top: 80px;
}
.skillsFrame .skills{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rosybrown; */
}
.skillsFrame .skills span{
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid rosybrown;
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
    font-size: 26px;
}
.skillsFrame .skills span image{
    height: 4rem;
    width: 6rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.4rem;
}



.aboutSecton{
    height: auto;
    width: auto;
    padding: 2rem;
    border: 1px solid rosybrown;
}



.frame{
    height: 8rem;
    width: 8rem;
    position: relative;
    border-radius: 10px;
    background-color: rgb(145, 110, 110);
    margin: auto;
}
.card{
    position: absolute;
    background-color: rosybrown;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0px 4px 8px rgb(22, 22, 22);
    transform: rotate(10deg);
    transition: all 0.8s ease;
    border-radius: 10px;
    display: flex;
}

.frame:hover .card{
    transform: rotate(0deg);
    cursor: pointer;
    background-color: #4f758b;
}

.frame .card image{
    height: 4rem;
    width: 6rem;
    display: flex;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
