.contactForm-Frame{
    height:  auto;
    min-width: 500px;
    padding: 2rem;
    
    /* border: 4px solid #0D1324;
    background-color: #0F172A; */

    border: 4px solid #98EECC;
    background-color: #526967;
    

    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 20px;
    font-weight: 700;
    gap: 1rem;
}

#style{
    margin: auto;
    height: 80px;
    width: 80%;
    background-color: #122B39;
    border: none;
    color: #51CBBB;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#styleInput{
    margin: auto;
    height: 40px;
    width: 80%;
    /* background-color: #122B39; */
    background-color: #9DC5C0;
    border: none;
    color: #51CBBB;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#msgInput{
    margin: auto;
    height: 112px;
    width: 80%;
    /* background-color: #122B39; */
    background-color: #9DC5C0;
    border: none;
    color: #51CBBB;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#send-Button{
    border: none;
    height: 80px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    background-color: #164737;
    border: none;
    color: #51CBBB;
}

#send-Button:hover{
    background-color: #122B39;
    transition: 0.5s ease;
}