@import "../Animations/Animations.css";

@import "./GlobalStyle.css";


.home{
    overflow: hidden;
    height: auto;
    width: auto;
}

.avatar-Section{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

.about-Section{
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background: #8BABA8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-Section{
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.contact-Section{
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background: #8BABA8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}




.ring{
    height: 21rem;
    width: 21rem;
    
    border: 4px solid aquamarine;
    border-radius: 50%;
    margin: auto;
    margin-top: 10rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 1s ease forwards,
        floatImagetwo 4s ease-in-out infinite
    ;
    animation-delay: 1s, 2s;
}

.avatarFrame{
    height: 20rem;
    width: 20rem;
    background-color: none;
    margin: auto;
    border-radius: 50%;
    border: 6px solid teal;
    overflow: hidden;
    opacity: 0;
    animation: slideRight 1s ease forwards,
        floatImage 4s ease-in-out infinite
    ;
    animation-delay: 1s, 3s;
}


.profile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.5s;
    filter: brightness(90%);
    background-position: center;
}
.profile:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(50%);
}

.bioFrame {
    height: auto;
    width: auto;
    background-color: none;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;

    position: relative;
}

.bioFrame h1{
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    border: none;
    background: none;
    padding: 0px;
}
.bioFrame h2{
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: .7s;
    text-transform: none;
}
.bioFrame h2:nth-of-type(2){
    font-size: 30px;
    animation: slideTop 0.5s ease forwards;
    animation-delay: .7s;
    text-transform: none;
}
.bioFrame h2 span{
    color: aquamarine;
}



.introduction-Frame{
    height: auto;
    min-width: 60%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.introduction-Frame p{
    height: auto;
    max-width: 45rem;
    margin: auto;
    margin-top: 2rem;
    font-size: 18px;
    padding: 1rem;
    display: inline-block;
    text-align: start;
    border: 4px solid #0D1324;
    background-color: #0F172A;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.726);
    word-spacing: -2px;
}
.introduction-Frame p span{
    font-size: 20px;
    font-weight: 600;
    color: aquamarine;
}

.box {
    width: 18rem;
    height: 18rem;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: morph 2s ease-in-out infinite both alternate;
    border: 4px solid aquamarine;
}

.spin-container {
    width: 20rem;
    height: 20rem;
    animation: spin 12s ease-in-out infinite alternate;
    position: relative;
}


.shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    border: 6px solid teal;
}

.image {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background-image: url('../Images/Profile.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    animation: spin 12s ease-in-out infinite alternate-reverse;
    opacity: 1;
    z-index: 2;
}






.about-image{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-image image{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 6px solid teal;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

    background-position: center;
    background-size: cover;
}

.about-image image:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(50%);
}


.about-image .circle-spin{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-bottom:  4px solid transparent;
    border-left: 4px solid aquamarine;
    border-right: 4px solid aquamarine;

    opacity: 0;
    animation: slideRight 1s ease forwards, 
        rotate 8s linear infinite
    ;
    animation-delay: 1s, 2s;
}


.hobbies-Frame{
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 6rem;
    /* background-image: var(--SVGpatternTwo); */
}

.six-gride{
    height: auto;
    width: auto;
    margin: auto;
    /* display: grid;
    background-color: transparent;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto; */
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem 2rem ;
    padding: 2rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 74rem) {
    .six-gride{
        grid-template-columns: auto auto;
    }

    .grid{
        display: block;
    }
}

.hobbies-frame{
    height: 10rem;
    width: 10rem;
    /* background-color: #20232F; */
    /* background-color: #3F476A; */
    background-color: #526967;
    /* background-image: url(../Images/pattern.jpg); */
    background-position: center;
    padding: 10px;
    border-radius: 20px;

    font-size: 20px;
    color: white;
    /* text-transform: uppercase; */
    
    font-weight: bold;
    border: 4px solid #98EECC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: ease 0.5s;
}
.hobbies-frame image{
    height: 4rem;
    width: 6rem;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hobbies-frame:hover{
    transform: rotate(10deg);
}

.hobbies-frame span{
    font-size: 60px;
    font-weight: bold;
    filter: grayscale(50%);
}



.skills-Section h2{
    margin-top: 14rem;
}

.personalities-Frame{
    height: auto;
    width: auto;
    margin: auto;
    background: none;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}
.personalities-Row{
    height: auto;
    /* min-width: 500px; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid white; */
}
.personalities-MiddleRow{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    /* border: 1px solid white; */
}
.row{
    height: 600px;
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid white; */
}
.row-middle{
    height: auto;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid white; */
}
.items{
    height: 200px;
    width: 200px;
    /* background-color: rebeccapurple; */
}



.map-Frame{
    border-radius: 10px;
    border: 0px solid slategray;
}
