@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.navbar {
  width: 100%;
  height: auto;
  background: #181b24;
  display: block;
  position: sticky;
  top: 0;
  z-index: 999;
}
  
.links {
  width: 100%;
  height: 100%;
  display: flex;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}


.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.navbar a:hover{
  color: aquamarine;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: aliceblue;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width:600px) {
  .dash{
    display: none;
  }
}


@media only screen and (max-width: 900px) {
  .navbar a {
    width: 170px;
  }
  
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}
.dash{
    height: 55px;
    width: 65px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 50%;
    background: teal;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.dash span{
  height: 10px;
  width: 40px;
  display: flex;
  margin: auto;
  margin-top: 4px;
  background: #181B24;
  border-radius: 10px;
}