
@import "./GlobalStyle.css";

.navbar {
  width: auto;
  height: auto;
  background: rgba(13, 25, 48, 0.411);
  border-bottom: 2px solid #0F172A;
  display: block;
  position: sticky;
  top: 0;
  z-index: 999;

}

.linkContainer{
  height: auto;
  width: auto;
  background-color: transparent;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 6rem;
}

.myInitials{
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  font-size: 28px;
  font-weight: bold;
  color: turquoise;
  position: absolute;
  left: 40px;
  top:  10px;
  font-family: var(--font-mono);
}
.myInitials span{
  color: white;
}

.myInitials:hover span{
  color: turquoise;
  transition: 0.5s ease;
}

.links {
  width: auto;
  height: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navlist span{
 color: aquamarine;
 font-size: 15px;
 font-weight: bold;
}


.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
}

.navbar a:hover{
  color: aquamarine;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton button {
  border: none;
  cursor: pointer;
}

#open {
  height: 60rem;
}

#open .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width:750px) {
  .dash{
    display: none;
  }

  .toggleButton {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: column;
  }
}


@media only screen and (max-width: 1000px) {
  .myInitials{
    display: none;
  }
}


@media only screen and (max-width: 750px) {
  #close a {
    display: none;
  }

  .linkContainer{
    justify-content: center;
    padding-right: 0px;
  }
}

.dash{
  height: 55px;
  width: 65px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 50%;
  background: teal;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.dash span{
  height: 10px;
  width: 40px;
  display: flex;
  margin: auto;
  margin-top: 4px;
  background: #181B24;
  border-radius: 10px;
}