@import "../Styles/Home.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
:root{
    --borderColour: teal;
    --background: rgb(0, 99, 99);
    --backgroundDarker: rgb(1, 78, 78);
    --canvasBackground: #739c989a;
    --borderSize: 0px;
    
}

.projects{
    overflow: hidden;
    height: auto;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.projects h1 span{
   color: aquamarine;
}

.canvasFrame{
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
}


.column1{
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: relative;

    transform: translateY(-100px);
    opacity: 0;
    transition: 2s ease;
}

.topStick{
    height: 100px;
    width: 50px;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--backgroundDarker);
    border-left: var(--borderSize) solid var(--borderColour);
    border-right: var(--borderSize) solid var(--borderColour);
    border-top: var(--borderSize) solid var(--borderColour);
}

.column2{
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    z-index: 3;
}
.topTopSupport{
    height: 4rem;
    max-width: 41.5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 139, 139);
    border-left: var(--borderSize) solid var(--borderColour);
    border-right: var(--borderSize) solid var(--borderColour);
    border-top: var(--borderSize) solid var(--borderColour);

    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* @media screen and (max-width: 600px) {
    .topTopSupport{
        max-width: 70%;
    }
} */

.topSupport{
    height: 30px;
    max-width: 84%;
    margin: auto;
    border-radius: 10px;
    background-color: var(--background);
    border: var(--borderSize) solid var(--borderColour);
    display: flex;
}
.topSupport span{
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 100px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--backgroundDarker);
    margin: auto;
    margin-top: -10px;
    border: var(--borderSize) solid var(--borderColour);
    border-radius: 10px;
}

.canvas{
    height: auto;
    max-width: 70%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--canvasBackground);
    background-position: center;
    background-size: cover;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    grid-gap: 60px 60px;
}

.projectCardFrame{
    height: 300px;
    width: 300px;
    position: relative;
}

.projectCard{
    position: absolute;
    background-color: #739C98;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0px 4px 8px rgb(22, 22, 22);
    transition: all 0.8s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.projectCard image{
    position: relative;
    height: 210px;
    width: 100%;
    border-bottom: 4px solid #84b8b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: cover;

    .vignette{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 75%, rgba(0,0,0,0.7));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
.projectCard h2{
    height: auto;
    width: auto;
    margin: auto;
    
    color: aquamarine;
    font-size: 26px;
    word-spacing: 8px;
    padding: 6px;
}

.projectCardShadow{
    position: absolute;
    background-color: #578B86;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
    border-radius: 10px;
}
.projectCardFrame:hover .projectCard{
    transform: translate(-1rem, -1rem);
    cursor: pointer;
}
.projectCardFrame:hover .projectCardShadow{
    transform: translate(1rem, 1rem);
    cursor: pointer;
}

.projectsFrame{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.canvas span{
    font-size: 200px;
    filter: grayscale(50%);
}

.centerSupport{
    height: 40px;
    max-width: 94%;
    background-color: var(--background);
    margin: auto;
    border: var(--borderSize) solid var(--borderColour);
    border-radius: 10px;

    display: flex;
}

.centerSupport span{
    height: 70px;
    width: 70px;
    display: flex;
    font-size: 100px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--backgroundDarker);
    margin: auto;
    margin-top: -14px;
    border: var(--borderSize) solid var(--borderColour);
    border-radius: 10px;
}


.leftStick{
    height: 34rem;
    width: 50px;
    background-color: var(--backgroundDarker);
    margin: auto;
    margin-top: -18rem;
    transform: rotate(20deg);
    border-radius: 10px;
    z-index: 2;

    border: var(--borderSize) solid var(--borderColour);
}

.rightStick{
    height: 34rem;
    width: 50px;
    background-color: var(--backgroundDarker);
    margin: auto;
    transform: rotate(-20deg);
    border-radius: 10px;
    margin-top: -18rem;
    z-index: 2;

    border: var(--borderSize) solid var(--borderColour);
}

.bottomCenterStick{
    height: 12rem;
    width: 50px;
    background-color: var(--backgroundDarker);
    margin: auto;
    margin-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-left: var(--borderSize) solid var(--borderColour);
    border-right: var(--borderSize) solid var(--borderColour);
    border-bottom: var(--borderSize) solid var(--borderColour);
}

.bottomStick{
    height: 30px;
    width: 280px;
    background-color: #018B8B;
    margin: auto;
    margin-top: -40px;
    margin-left: -94px;
    border: var(--borderSize) solid var(--borderColour);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.column3{
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;

    position: relative;

    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease;
}

.centerRow{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;

    justify-items: center;
    align-items: center;
}


.showAnimate{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0px);
}

  

.sketchBookWrapper{
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.backgroundFrame{
    width: 80%;
    background-color: #6fa09b;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before{
        content: "";
        height: 80px;
        width: 100%;
        background-color: #018B8B;
        display: flex;
        position: absolute;
        z-index: -1;
        bottom: -30px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    &::after{
        content: "";
        height: 100%;
        width: 104%;
        background-color: #014E4E;
        display: flex;
        position: absolute;
        z-index: -2;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 65px;
    }
}
@media only screen and (max-width: 1500px) {
    .backgroundFrame::after{
        top: 55.5%;
        width: 106%;
    }
}
@media only screen and (max-width: 1000px) {
    .backgroundFrame::after{
        top: 53.5%;
        width: 108%;
    }
}
@media only screen and (max-width: 500px) {
    .backgroundFrame::after{
        top: 52.5%;
        width: 110%;
    }
}   



.sketchBookDesignFrame{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .bookringFrame{
        height: 100%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 60px;
    }
    @media only screen and (max-width: 1500px) {
        .bookringFrame:nth-child(8), .bookringFrame:nth-child(7){
            display: none;
        }
    }
    @media only screen and (max-width: 1000px) {
        .bookringFrame:nth-child(6), .bookringFrame:nth-child(5){
            display: none;
        }
    }
    @media only screen and (max-width: 800px) {
        .bookringFrame:nth-child(4), .bookringFrame:nth-child(3){
            display: none;
        }
    }
    @media only screen and (max-width: 500px) {
        .bookringFrame:nth-child(2){
            display: none;
        }
    }
        .hole{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #027e7e;
            display: flex;
            justify-content: center;
        }
            .hook{
                height: 150px;
                width: 40px;
                background-color: #006363;
                border-radius: 20px;
                margin-top: -90px;

                &::before{
                    content: "";
                    height: 70px;
                    width: 40px;
                    top: 0;
                    background-color: #018B8B;
                    display: block;
                    border-radius: 20px;
                }
            }

.sketchCanvas{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
