.progress-Frame{
    /* background-color: rgb(41, 58, 58); */
    height: 10px;
    width: 100%;

    position: sticky;
    top: 1;
    left: 0;
    z-index: 1;
}

.progress-Bar{
    height: 10px;
    background-color: teal;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}